<h2 id="title">Welcome to TravelEve</h2>
<p class="intro">TravelEve is the place where you store your travel events and reflect on them in your leisure time. Don't forget the good times!</p>

{{outlet}}
